<launch>

  <node pkg="depthcamscan" type="depthcamscan_node" name="depthcamscan_node" output="screen" >
    <remap from="camera" to="/xtionNav"/>		# Base topic for the camera
    <remap from="scan" to="/scanXtion"/>		# Topic name for output scan
    <param name="z_min" value = "0.08"/><!--0.05-->     # Values between (-z_min,z_min) are NOT obstacles. Value in meters
    <param name="angle_min" value = "-1.57"/>	# Min scan angle in rad (-PI/2)
    <param name="angle_max" value = "1.57"/>	# Max scan angle in rad (PI/2)
    <param name="range_min" value = "0.5"/>		# Min scan range in meters in /base_link
    <param name="range_max" value = "2.0"/>		# Max scan range in meters in /base_link
    <param name="calib_tz" value = "-0.0785881"/> <!---0.0785881--> 	# Calibration for camera altitude. Write here the values printed after calibration
    <param name="calib_rx" value = "-0.0196947"/>	# Calibration for camera roll. Write here the values printed after calibration
    <param name="calib_ry" value = "0.102051"/>	# Calibration for camera pitch. Write here the values printed after calibration
    <param name="down_sampling" value = "4"/>	# Camera down sampling factor. Values: 1, 2 or 4. The bigger the faster.
    <param name="publish_pc" value = "false"/>	# Enable/disable camera point cloud pulication
  </node>

</launch>
