<!-- -*- mode: XML -*- -->

<launch>
   <!-- This launch roscore -->
   <master auto="start"/>

  <!--static TFs -->
  <include file="static_tfs.launch" />

  <!-- IMU -->
  <node pkg="receive_xsens" type="receive_xsens" name="receive_xsens" output="screen" respawn="true" />


  <!-- teresa driver -->  

   <node pkg="teresa_driver" type="teresa_node" name="teresa_node" output="screen" respawn="false">
   <param name="board1" type="str" value="/dev/serial/by-id/usb-FTDI_MM232R_USB_MODULE_board1-if00-port0"/>
   <param name="board2" type="str" value="/dev/serial/by-id/usb-FTDI_MM232R_USB_MODULE_board2-if00-port0"/>
   <param name="base_frame_id" type="str" value="/base_link"/>	  
   <param name="odom_frame_id" type="str" value="/odom"/>  
   <param name="head_frame_id" type="str" value="/teresa_head"/>
   <param name="stalk_frame_id" type="str" value="/stalk_head"/>                  
   <param name="freq" type="double" value="20.0" />               
   <param name="using_imu" type="int" value="1"/>                   
   <param name="simulation" type="int" value="0"/>
   <param name="publish_temperature" type="int" value="1"/>
   <param name="publish_buttons" type="int" value="1"/>
   <param name="publish_volume" type="int" value="1"/>
   <param name="publish_diagnostics" type="int" value="1"/>
   <param name="number_of_leds" type="int" value="60"/>
   <param name="inverse_left_motor" type="bool" value="false"/>
   <param name="inverse_right_motor" type="bool" value="true"/>	
   <param name="initial_dcdc_mask" type="int" value="255"/> <!--243 lasers off-->  
   <param name="final_dcdc_mask" type="int" value="255"/>  <!--243 lasers off -->
   <param name="height_velocity" type="int" value="20"/>
   <param name="tilt_velocity" type="int" value="3"/>
   <!--<param name="A_left" type="double" value="87.815"/>
   <param name="A_right" type="double" value="87.815"/>
   <param name="B_left" type="double" value="4.565"/>
   <param name="B_right" type="double" value="4.565"/>-->
   <param name="leds_pattern" type="str" value="knight_rider"/>
   <param name="A_left" type="double" value="110.0" /> 	<!-- 89.4    210.0 upo robot-->
   <param name="B_left" type="double" value="1.47" /> 	<!-- -0.394  8.35 upo robot-->
   <param name="A_right" type="double" value="92.3" />	<!-- 88.1    210.0 upo robot-->
   <param name="B_right" type="double" value="0.35" />	<!--0.343    8.35 upo robot-->
   <param name="use_upo_calib" type="bool" value="false" />
   <param name="deadZoneIsActive" type="bool" value="false" />
   <param name="lin_vel_dead_zone" type="double" value="0.15" />
   <param name="ang_vel_dead_zone" type="double" value="0.5" />
   <param name="lin_vel_zero_threshold" type="double" value="0.05" />
   <param name="ang_vel_zero_threshold" type="double" value="0.05" />	   
   </node>

   <!-- joy node -->
   <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
   </node>
  
    <!-- teresa joystick driver -->
   <node pkg="teresa_driver" type="teresa_teleop_joy" name="teleop" output="screen" respawn="false"> 
		<param name="max_linear_velocity" type="double" value="0.6" />	
		<param name="max_angular_velocity" type="double" value="1.57" />
		<param name="cmd_vel_id" type="str" value="/cmd_vel_joy"/>
   </node>


   <node pkg="decision_making_uva" type="manual_control_switch.py" name="switch" output="screen" respawn="true">
   	<rosparam file="pid.yaml" command="load"/>
   </node>


</launch>
