<!-- -*- mode: XML -*- -->

<launch>

  <!-- KINECT obstacles detection -->
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="camera" value="xtionNav" />
    <arg name="device_id" value="1404210363" />
    <arg name="depth_registration" value="false" />
    <arg name="publish_tf" value="true" />
    <arg name="respawn" value="true" />
    <arg name="rgb_processing" value="false" />
    <arg name="debayer_processing" value="false" />
    <arg name="ir_processing" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="depth_registered_processing" value="false" />
    <arg name="disparity_processing" value="false" />
    <arg name="disparity_registered_processing" value="false" />
    <arg name="hw_registered_processing" value="false" />
    <arg name="sw_registered_processing" value="false" />
  </include>

 <param name="xtionNav/driver/data_skip" value="4"/>

</launch>
